<h1><%= category.name %></h1>
<p><%= category.description %></p>

<div class='productGrid-wrapper'>
  <% if(!products.length) { %>
  <p>There are currently no items listed in this category.</p>
  <% } else { %>
  <% products.forEach(prod => { %>
  <div class='productGrid-card'>
    <h3 class='productCard-name'><a href='<%= prod.getUrl() %>'><%= prod.name %></a></h3>
    <p class='productCard-price'><%= prod.displayPrice() %></p>
    <p class='productCard-stock'>In stock: <%= instances.reduce((acc, cur) => (cur.product.equals(prod._id) ? ++acc : acc), 0) %></p>
    <p class='productCard-description'><%= prod.description %></p>
  </div>
  <% }) %>
  <% } %>
</div>

<hr>
<p>
  <a href="<%= category.getUrl() + '/update' %>">Update</a>
</p>
<p><a href='<%= category.getUrl() %>/delete'>Delete</a></p>